body {
    text-align: center;
    background-color: rgb(114, 114, 243);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 50px auto;
}

li {
    list-style: none;
    margin-bottom: 15px;
    font-size: xx-large;
}

a {
    display: inline-block;
    width: 300px;
    border: 3.5px solid black;
    border-radius: 8px;
    text-decoration: none;
    padding: 1px 20px;
    background-color: white;
}

a:hover {
    box-shadow: 5px 5px 0 0
}